<h1 ng-hide="editing">{{ recipe.name }}</h1>
<input ng-show="editing" ng-model="recipe.name">

<p ng-hide="editing">{{ recipe.description }}</p>
<textarea ng-show="editing" ng-model="recipe.description"></textarea>

<p ng-hide="editing">{{ recipe.directions }}</p>
<textarea ng-show="editing" ng-model="recipe.directions"></textarea>

<span ng-show="editing">
    <input placeholder="Ingredient" ng-model="ingredientName">
    <button class="btn btn-info btn-sm" ng-click="addIngredientToRecipe(ingredientName)">
        <span class="glyphicon glyphicon-plus"></span> Add Ingredient to Recipe
    </button>
</span>

<ol>
    <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}
        <i ng-click="removeIngredientFromRecipe(ingredient)" ng-show="editing" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></i>
    </li>
</ol>



<button class="btn btn-sm btn-success" ng-show="editing" ng-click="saveEditedRecipe()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
<button class="btn btn-sm btn-default" ng-click="editing = !editing"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
<button class="btn btn-sm btn-danger" ng-click="deleteRecipe()"><span class="glyphicon glyphicon-trash"></span> Delete</button>